{% extends 'blog/base_nav_footer.html' %}
{% load static %}

{% block stylesheet %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/new_resume_item.css' %}">
{% endblock stylesheet %}

{% block content %}
    <p class="font-title font-big-title font-normal-color text-center">Resume Item</p>
    <div class="container -form-container justify-content-center d-flex">
        <form method="POST" class="post-form d-flex flex-column align-items-center">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="-resume-item-save-button -bttn -bttn-blue-filled -rounded">Save</button>
        </form>
    </div>
{% endblock content %}