{% extends 'blog/base_nav_footer.html' %}
{% load static %}

{% block stylesheet %}
    {{block.super}}
    {% comment %} <link rel="stylesheet" href="{% static 'css/article_detail.css' %}"> {% endcomment %}
{% endblock stylesheet %}

{% block content %}
    <div class="container">
        <div class="row -about-container">
            <div class="col"></div>
            <div class="col-10 col-lg-6">
                <p class="font-big-title font-title font-normal-color text-center d-block mx-auto">About the project</p>
                <p class="font-normal-color font-description font-semi-bold text-justify">
                    This project contains two main apps, serving two distinct purposes: a blog and a personal CV. It is built as part of the Bridging Coursework University Assignment. It was created using Django, a web framework based on Python which allows the creation of feature-rich web apps without having to reinvent the wheel. I have applied the TDD (Test Driven Development) process in the creation of the personal CV part of this web app. In order to do so, I have followed the concepts explained and illustrated in the “Obeying the Testing Goat!” e-book. I have also applied knowledge and techniques acquired both independently and via various university modules in developing the UI and UX of this project. All of the above are described in further detail inside the articles which are already published on the blog. I have tried to keep the tone and style of the articles quite colloquial, as I believe a good blog is one that manages to be both educational and fun to read.
                    <br> <br>
                    Creating this web app has been a learning journey. I have accumulated significant amounts of valuable knowledge that I feel I can apply in the future, both in a personal and professional environment. It has started with a research phase where I read the resources provided and a few others outside of those, followed by a wireframe and prototype stage, and ending in the final development stage. 
                    <br> <br>
                    The final outcome is very much the expected one and I am more than happy with the learning journey I took to reach it, as well as the knowledge and experience I have gathered along the way.

                </p>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <p class="text-center">
                            <a href="https://github.com/AlexandruNst/blog_and_resume" target="_blank" class="-source-code-button -bttn -bttn-transparent-blue -rounded mt-5 d-inline-block mx-auto">Source code</a>
                        </p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <p class="text-center">
                            <a href="/" class="-home-button -bttn -bttn-blue-filled -rounded mt-5 d-inline-block mx-auto">Back to homepage</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock content %}