{% extends 'blog/base.html' %}
{% load static %}

{% block stylesheet %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% endblock stylesheet %}


{% block navbar %}
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="/">
    <img src="{% static 'res/img/svg/logo.svg' %}" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center">
      <li class="nav-item">
        <a class="nav-link" href="/articles"><span class="font-semi-bold" id="ud-link">Articles</span> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resume"><span class="font-semi-bold" id="ud-link">Personal CV</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><span class="font-semi-bold" id="ud-link">About</span></a>
      </li>
    
    </ul>
    <form id="nav-form" class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mr-0 mr-lg-4" method="GET" action="{% url 'search' %}">
      <div class="input-group w-100">
        <input type="search" id="rounded-input" class="form-control" placeholder="Search articles..." aria-label="Search articles" aria-describedby="basic-addon2" name="q">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2"> <i class="fas fa-search"></i></span>
        </div>
      </div>
    </form>
    <div class="text-center mt-3 mt-lg-0 mb-3 mb-lg-0">
    {% if user.is_authenticated %}
      <a href="/accounts/logout" class="-bttn -bttn-transparent-blue -rounded">Logout</a>
    {% else %}
      <a href="/accounts/login" class="-bttn -bttn-blue-filled -rounded">Login</a>
    {% endif %}
    </div>
  </div>
</nav>
{% endblock navbar  %}

