{% extends 'blog/base_nav.html' %}
{% load static %}

{% block stylesheet %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock stylesheet %}

{% block footer %}
    <!-- Footer -->
    <footer class="container-fluid">
        <div class="row h-100">
            <div class="col"></div>
            <div class="col-12 col-lg-8 col-xl-6">
                <div class="row h-100 pt-3 pt-lg-4">
                    <div class="col-6 col-lg-4 px-5">
                        <p class="font-bold d-none d-lg-block">Follow</p>
                        <p class="font-semi-bold d-none d-lg-block">Follow this blog to read the newest articles</p>
                        <p class="font-semi-bold d-block d-lg-none">Follow this blog</p>
                        {% comment %} <button type="button" class="btn btn-outline-light" id="rounded">Follow</button> {% endcomment %}
                        <a href="#" class="d-inline-block -rounded -bttn -bttn-transparent font-semi-bold">Follow</a>
                        <div class="row d-flex d-lg-none mt-5">
                            <div class="col-4 px-0 px-sm-1 px-lg-2 px-xl-2"><img class="-social -footer-social" src="{% static "res/img/svg/facebook_footer.svg" %}" alt=""></div>
                            <div class="col-4 px-0 px-sm-1 px-lg-2 px-xl-2"><img class="-social -footer-social" src="{% static "res/img/svg/twitter_footer.svg" %}" alt=""></div>
                            <div class="col-4 px-0 px-sm-1 px-lg-2 px-xl-2"><img class="-social -footer-social" src="{% static "res/img/svg/linkedin_footer.svg" %}" alt=""></div>
                        </div>
                    </div>
                    <div class="d-none d-lg-block col-lg-4 px-5">
                        <p class="font-bold d-none d-lg-block">Social media</p>
                        <p class="font-semi-bold d-none d-lg-block">Find out more about the blog on social media</p>
                        <div class="row d-none d-lg-flex">
                            <div class="col-4 px-0 px-sm-1 px-lg-2 px-xl-2"><img class="-social -footer-social" src="{% static "res/img/svg/facebook_footer.svg" %}" alt=""></div>
                            <div class="col-4 px-0 px-sm-1 px-lg-2 px-xl-2"><img class="-social -footer-social" src="{% static "res/img/svg/twitter_footer.svg" %}" alt=""></div>
                            <div class="col-4 px-0 px-sm-1 px-lg-2 px-xl-2"><img class="-social -footer-social" src="{% static "res/img/svg/linkedin_footer.svg" %}" alt=""></div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 col-lg-4 px-5">
                        <p class="font-bold">Made by</p>
                        <p class="font-semi-bold">Alexandru Nastase</p>
                        <p>Serving as Coursework &amp; Creative Outlet</p>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </footer>
    <!-- END Footer -->
{% endblock footer %}

{% block js %}
    <script>
        $(".-home-button").each(function(){

            $(this).hover(
                function() {
                    $(this).html('<i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Back to homepage');
                },
                function() {
                    $(this).html("Back to homepage");
                }

            );
        });

        $(".-source-code-button").each(function(){

            $(this).hover(
                function() {
                    $(this).html('<i class="fas fa-code"></i>&nbsp;&nbsp;Source code');
                },
                function() {
                    $(this).html("Source code");
                }

            );
        });
    </script>
{% endblock js %}

