{% extends 'blog/base_nav_footer.html' %}
{% load static %}

{% block stylesheet %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/featured.css' %}">
{% endblock stylesheet %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="-article -featured-article pr-0 pr-lg-4">
                    {% comment %} <p class="font-bold font-bigger text-center">Featured</p> {% endcomment %}
                    <img class="-article-img img-fluid" src="{% static 'res/img/article_jpg/desk.jpg' %}" alt="">
                    <p class="pt-3 font-title font-big-title">Fancy Title Potentially on Multiple Lines like This One</p>
                    <p class="font-semi-bold font-description">And then some other text that would be like a description thingy. Lorem ipsum dolor sit amet. Not only is this nice and cool, but it is also amazing! I am learning so much and so will you from this amazign article.</p>
                    <div class="tags float-lg-right pt-lg-2">
                        <span class="-ud" id="tag1"><a href="#">#tag1</a></span>
                        <span class="-ud" id="tag2"><a href="#">#taggilicious2</a></span>
                        <span class="-ud" id="tag3"><a href="#">#taggytag3</a></span>
                    </div>
                    <a href="#" class="d-inline-block -bttn -rounded -bttn-blue-filled font-semi-bold mt-3 mt-lg-0">Read more</a>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <p class="font-bold font-bigger text-center d-lg-none mt-5 mb-4">More articles</p>
                <div class="row">
                    {% for i in '0123'|make_list %}
                        <div class="-article -side-article d-inline-block col-12 col-sm-6 col-lg-12">
                            <img class="-article-img -side-article-img img-fluid float-left" src="{% static 'res/img/article_jpg/desk.jpg' %}" alt="">
                            <div class="row -side-article-text">
                                <p class="float-right font-title font-small-title -side-article-title pr-0 pr-sm-2 pr-lg-0">Fancy Title Potentially on Multiple Lines like This One</p>
                                <a href="#"><p class="-ud font-semi-bold">Read more</p></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}