{% extends 'blog/base_nav_footer.html' %}
{% load static %}

{% block stylesheet %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/featured.css' %}">
{% endblock stylesheet %}

{% block content %}
    <!-- Tag search form - hidden -->
    <div class="d-none">
        <form method="GET" action="{% url 'search' %}" id="tag-form">
            <input type="text" id="tag-input" name="t">
        </form>
    </div>
    <!-- END Tag search form -->
    <div class="container">
        <div class="row -article-container">
            <div class="col-12 col-lg-7">
                <div class="-article -featured-article pr-0 pr-lg-4">
                    <a class="-article-anchor" href="{% url 'article_detail' pk=featured_article.pk %}" id="-link-featured-article">
                        <p class="font-bold font-bigger text-center d-lg-none mb-4">Featured</p>
                        <img class="-article-img img-fluid" src="{% static featured_article.get_image %}" alt="">
                        <p class="-article-title pt-3 font-title font-big-title">{{ featured_article.title }}</p>
                        <p class="font-semi-bold font-description">{{ featured_article.description }}</p>
                        <div class="-feature-meta mt-0 mt-lg-4">
                            <div class="tags float-lg-right pt-lg-2">
                                <span class="-ud" id="spacing"><a href="#"></a></span>
                                <span class="-ud" id="tag1"><a class="-tag" href="#">{{ featured_article.get_list_of_tags.0 }}</a></span>
                                <span class="-ud" id="tag2"><a class="-tag" href="#">{{ featured_article.get_list_of_tags.1 }}</a></span>
                                <span class="-ud" id="tag3"><a class="-tag" href="#">{{ featured_article.get_list_of_tags.2 }}</a></span>
                            </div>
                            <div class="-read-more-button-container mt-3 mt-lg-0">
                                <a href="{% url 'article_detail' pk=featured_article.pk %}" class="d-inline-block -bttn -rounded -bttn-blue-filled font-semi-bold mt-3 mt-lg-0">Read more</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <p class="font-bold font-bigger text-center d-lg-none mt-5 mb-4">More articles</p>
                <div class="row">
                    {% for article in side_articles %}
                        <div class="-article -side-article d-inline-block col-12 col-sm-6 col-lg-12">
                            <a class="-article-anchor" href="{% url 'article_detail' pk=article.pk %}">
                                <img class="-article-img -side-article-img img-fluid float-left" src="{% static article.get_image %}" alt="">
                                <div class="d-inline-block -side-article-text pl-3 pl-sm-0 pl-lg-3 pt-0 pt-sm-2 pt-lg-0">
                                    <p class="font-title font-small-title -article-title -side-article-title pr-0 pr-sm-2 pr-lg-0">{{ article.title }} <br></p>
                                    <a href="{% url 'article_detail' pk=article.pk %}"><p class="d-inline-block -ud font-semi-bold">Read more</p></a>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                 <a id="view-all-articles" class="w-100"href="/articles"><p class="text-center"><span class="-ud font-semi-bold">View all articles</span></p></a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <!-- JS libs -->
    <script src="{% static 'res/lib/js/clamp.min.js' %}"></script>
{% endblock js %}