.padding-for-footer {
  padding-bottom: 250px;
}

/* Font styles */
* {
  font-family: "Open Sans", sans-serif;
}

.font-normal-color {
  color: #343434;
}

.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-title {
  font-family: "Maven Pro", sans-serif;
}

.font-bigger {
  font-size: 1.5rem;
}

.font-big-title {
  font-size: 2rem;
}

.font-small-title {
  font-size: 1.3rem;
}

.font-description {
  opacity: 0.55;
}

/* Links */

#ud-link {
  color: #343434;
  position: relative;
  transition: 300ms;
}

#ud-link:hover {
  color: #4b83eb;
}

#ud-link:after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  position: absolute;
  left: -2.5%;
  background: #4b83eb;
  transition: 300ms;
}

#ud-link:hover:after {
  width: 105%;
}

/* Rounded items */
.-rounded {
  border-radius: 9px;
  outline: none;
  box-shadow: none;
}

/* Buttons */
.-bttn {
  padding: 6px 20px;
  margin-top: 7px;
  transition: 300ms;
  text-decoration: none;
}

.-bttn-transparent-blue {
  border: 1.5px solid #4b83eb;
  background-color: white;
  color: #4b83eb;
}

.-bttn-transparent-blue:hover {
  color: white;
  background-color: #4b83eb;
  border: 1.5px solid #4b83eb;
  text-decoration: none;
  transform: scale(1.07);
  box-shadow: 0 2px 5px rgba(0, 153, 255, 0.1),
    0 10px 10px rgba(0, 153, 255, 0.1);
}

.-bttn-blue-filled {
  background-color: #4b83eb;
  color: white;
  border: 1.5px solid #4b83eb;
}

.-bttn-blue-filled:hover {
  color: #4b83eb;
  background-color: white;
  border: 1.5px solid #4b83eb;
  text-decoration: none;
  transform: scale(1.01);
  box-shadow: 0 2px 5px rgba(0, 153, 255, 0.1),
    0 10px 10px rgba(0, 153, 255, 0.1);
}

.-bttn-transparent {
  border: 1.5px solid white;
  color: white;
}

.-bttn-transparent:hover {
  color: #4b83eb;
  background-color: white;
  text-decoration: none;
}

/* Social links */
.-social {
  width: 90%;
  max-width: 50px;
}

.-social:hover {
  transition: 300ms;
  transform: scale(1.1);
  cursor: pointer;
}
