nav {
  box-shadow: 0 5px 5px rgba(75, 131, 235, 0.12),
    0 2px 3px rgba(75, 131, 235, 0.24);
  font-size: 1.06rem;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
  margin-right: 0;
  margin-left: 0;
}

.nav-item:nth-child(2) {
  margin: 0 7vw;
}

#rounded-input {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  outline: none;
  box-shadow: none;
}

#basic-addon2 {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: #4b83eb;
  color: white;
}

#nav-form {
  margin-right: 20px;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-brand img {
    margin-right: 5vw;
    margin-left: 20px;
    width: 60px;
    height: 60px;
  }
}
