.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  width: 60px;
  height: 60px;
  margin-right: 220px;
  margin-left: 20px;
}

.nav-item:nth-child(2) {
  margin: 0 10vw;
}

#rounded-input {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  outline: none;
  box-shadow: none;
}

#basic-addon2 {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  background-color: #4b83eb;
  color: white;
}

#nav-form {
  margin-right: 20px;
}
